/*Header Area Search Bar Styling Start*/
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}
.search-bar > div{
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F7F5;
    padding: 15px 0 15px 15px;
    border-radius: 10px 0 0 10px;
}
.search-bar > div > input{
    font-size: 20px;
    padding: 10px;
    border: none;
    background-color: transparent;
}
.search-bar > button{
    font-size: 20px;
    padding: 25px;
    margin: 0;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.search-bar > div > img{
    width: 30px;
}
/*Header Area Search Bar Styling end*/